*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
p{
    margin-bottom: 5px;
    font-weight: 600;
}
.outerBox{
    margin-top: 100px;
}
.bluebox{
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: 1s all;
}
.greenbox {
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 1.5s all;
}

.bluebox:active{
    width: 100%;
    background-color: blueviolet;
}

.greenbox:hover{
    width: 100%;
    background-color: aqua;
}